@import "@/styles/constants.scss";

.container {
  width: 100%;
  padding: 25px;
  border-radius: 6px;
  background: $DARK_500;
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__identity {
      width: min-content;
      &__title {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #fff;
        font-size: 1.3rem;
        white-space: nowrap;
      }
      &__description {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 0.8rem;
        margin-top: 8px;
        white-space: nowrap;
      }
    }
    &__filters {
      min-width: min-content;
      display: flex;
    }
  }

  &__main {
    width: 100%;
    &__listcertificates {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
