@import "@/styles/constants";
.listexperience {
  &__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ddd;
    font-size: 0.9rem;
    margin-bottom: 10px !important;
  }

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
    li:not(:first-child) {
      margin-left: -10px;
    }
  }
}

.itemlanguage {
  width: 40px;
  height: 40px;
  background: $PRIMARY_900;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 90%;
    background-size: cover;
    border-radius: 6px;
  }
}
